/Workspaces/NetBeans Workspace/JavaFXApplication1/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXApplication1/build/
/Workspaces/NetBeans Workspace/JavaFXApplication1/dist/
/Workspaces/NetBeans Workspace/AD_T1A2/nbproject/private/
/Workspaces/NetBeans Workspace/AD_T1A2/build/
/Workspaces/NetBeans Workspace/JavaFXHBox/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXHBox/dist/
/Workspaces/NetBeans Workspace/JavaFXHBox/build/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/build/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/dist/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/dist/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/build/
/Workspaces/NetBeans Workspace/DemoEventosTeclado/nbproject/private/
/Workspaces/NetBeans Workspace/DemoEventosTeclado/build/
/Workspaces/NetBeans Workspace/DemoEventosTeclado/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.1_InnerClass/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.1_InnerClass/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.1_InnerClass/build/
/Workspaces/NetBeans Workspace/DI_T1A2.2/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.2/build/
/Workspaces/NetBeans Workspace/DI_T1A2.2/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.3/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.3/build/
/Workspaces/NetBeans Workspace/DI_T1A2.3/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.4/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.4/build/
/Workspaces/NetBeans Workspace/DI_T1A2.4/dist/
Workspaces/NetBeans Workspace/appsondeos-sierra/
/Workspaces/NetBeans Workspace/DI_T1A2.5/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.5/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.5/build/
/Workspaces/NetBeans Workspace/DI_T1A2.1/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.1/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.1/build/
/Workspaces/NetBeans Workspace/DI_T1A2.6/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.7/nbproject/private/
/Workspaces/NetBeans Workspace/DI_T1A2.8/nbproject/private/
/Workspaces/NetBeans Workspace/DI_FXML_Test1/nbproject/private/
/Workspaces/NetBeans Workspace/DI_FXML_Test1/build/
/Workspaces/NetBeans Workspace/DI_FXML_Test1/dist/
/Workspaces/NetBeans Workspace/DI_FXML(Version1)_Test2_TableView/nbproject/private/
/Workspaces/NetBeans Workspace/DI_FXML(Version1)_Test2_TableView/build/
/Workspaces/NetBeans Workspace/DI_FXML(Version1)_Test2_TableView/dist/
/Workspaces/NetBeans Workspace/DI_T1A2.8/build/
/Workspaces/NetBeans Workspace/DI_T1A2.8/dist/
/Workspaces/NetBeans Workspace/DI_AppAgenda/nbproject/private/
/Workspaces/NetBeans Workspace/DI_AppAgenda/build/
/Workspaces/NetBeans Workspace/DI_AppAgendaa/nbproject/private/
/Workspaces/NetBeans Workspace/DI_AppAgendaaa/nbproject/private/
/Workspaces/NetBeans Workspace/DI_AppAgenda/dist/
/Workspaces/NetBeans Workspace/FXMLExample/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXApplication4/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXApplication4/dist/
/Workspaces/NetBeans Workspace/JavaFXApplication4/build/
