/Workspaces/NetBeans Workspace/JavaFXApplication1/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXApplication1/build/
/Workspaces/NetBeans Workspace/JavaFXApplication1/dist/
/Workspaces/NetBeans Workspace/AD_T1A2/nbproject/private/
/Workspaces/NetBeans Workspace/AD_T1A2/build/
/Workspaces/NetBeans Workspace/JavaFXHBox/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXHBox/dist/
/Workspaces/NetBeans Workspace/JavaFXHBox/build/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/build/
/Workspaces/NetBeans Workspace/JavaFXFancyForms/dist/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/nbproject/private/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/dist/
/Workspaces/NetBeans Workspace/JavaFXVisualEffectsApplication/build/
